
section.home-features{
    padding:0 0 120px
}
@media (min-width:1200px){
    section.home-features{
        padding:0 0 260px
    }
}
@media (min-width:576px){
    .container{
        max-width:calc(100% - 50px)
    }
}
@media (min-width:992px){
    .container{
        max-width:calc(100% - 90px)
    }
}
@media (min-width:1200px){
    .container{
        max-width:1140px
    }
}
.section-title{
    position:relative;
    padding:0 0 20px
}
.section-title h2{
    position:relative;
    font-family:Playfair Display,serif;
    font-size:28px;
    font-weight:600;
    line-height:1.357;
    opacity:.9
}
@media (min-width:768px){
    .section-title h2{
        font-size:50px;
        line-height:1.06;
        letter-spacing:1.88px;
        opacity:1
    }
}
.section-title p{
    width:100%;
    max-width:580px;
    margin:20px auto 0;
    font-family:Lora,serif;
    font-weight:400;
    color:#32353b
}
@media (min-width:992px){
    .section-title p{
        margin:20px auto 0;
        font-size:22px;
        line-height:1.63;
        letter-spacing:.5px
    }
}
.section-title:before{
    width:200px;
    height:2px;
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    background-color:var(--darkblue);
    transform:translateX(-50%)
}


.features-section{
    position:relative;
    width:100%;
    max-width:940px;
    margin:0 auto
}
.features-container{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-align:center;
    align-items:center;
    position:relative;
    max-width:938px;
    margin:50px auto 0
}
@media (min-width:992px){
    .features-container{
        -ms-flex-direction:row;
        flex-direction:row;
        margin:60px auto 0
    }
}
.features-group{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    width:100%
}
.features-group+.features-group{
    margin:20px 0 0
}
@media (min-width:992px){
    .features-group+.features-group{
        margin:0 0 0 22px
    }
}
@media (min-width:992px){
    .features-group{
        -ms-flex:0 0 calc((100% - 88px) / 5);
        flex:0 0 calc((100% - 88px) / 5);
        width:calc((100% - 88px) / 5)
    }
}
.features-item{
    width:100%;
    height:110px;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex:0 0 100%;
    flex:0 0 100%;
    background-color:#fff;
    border-radius:16px;
    box-shadow:0 30px 40px 0 rgba(212,217,232,.2);
    transition-duration: .4s;
}
.features-content{

}
.features-item:hover{
    box-shadow: rgba(212,217,232,.2) 0px 2px 8px 0px;
    transform: scale(1.05);
}
.features-item.hoopsai{
    width:180px;
    height:60px;
    -ms-flex:0 0 180px;
    flex:0 0 180px;
    border-radius:9px
}
.features-item.hoopsai img{
    width:110px
}
@media (min-width:992px){
    .features-item.hoopsai{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.features-item.agoda{
    width:260px;
    height:80px;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
    border-radius:11px
}
.features-item.agoda img{
    width:90px
}
@media (min-width:992px){
    .features-item.agoda{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.features-item.getsafe{
    display:none
}
.features-item.getsafe img{
    width:95px
}
@media (min-width:992px){
    .features-item.getsafe{
        display:-ms-flexbox;
        display:flex
    }
}
.features-item.grab{
    width:320px;
    height:100px;
    -ms-flex:0 0 320px;
    flex:0 0 320px;
    border-radius:13px
}
.features-item.grab img{
    width:90px
}
@media (min-width:992px){
    .features-item.grab{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.features-item.crisp{
    display:none
}
.features-item.crisp img{
    width:95px
}
@media (min-width:992px){
    .features-item.crisp{
        display:-ms-flexbox;
        display:flex
    }
}
.features-item.anyleads{
    display:none
}
.features-item.anyleads img{
    width:100px
}
@media (min-width:992px){
    .features-item.anyleads{
        display:-ms-flexbox;
        display:flex
    }
}
.features-item.teachable{
    width:260px;
    height:80px;
    -ms-flex:0 0 260px;
    flex:0 0 260px;
    border-radius:11px
}
.features-item.teachable img{
    width:100px
}
@media (min-width:992px){
    .features-item.teachable{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.features-item.flyr{
    display:none
}
.features-item.flyr img{
    width:80px
}
@media (min-width:992px){
    .features-item.flyr{
        display:-ms-flexbox;
        display:flex
    }
}
.features-item.roger{
    width:180px;
    height:60px;
    -ms-flex:0 0 180px;
    flex:0 0 180px;
    border-radius:9px
}
.features-item.roger img{
    width:100px
}
@media (min-width:992px){
    .features-item.roger{
        width:100%;
        height:110px;
        -ms-flex:0 0 100%;
        flex:0 0 100%;
        border-radius:16px
    }
}
.features-item+.features-item{
    margin:25px 0 0
}