:root {
  --darkblue: #000033;
  --lightblue: #B2CBED;
  --cyan: #3ADDD4;
  --cyellow: #FFD110;
  --cazure: #E9F9FC;
  --cpink: #FF127E;
  --corange: #FF6903;
  --blackpearl: #112033;
  --cwhite: #F5FAFF;
  --cblack: #000A14;
}

h1{
	color: var(--cyellow);
}
.start{
  height: 100vh;
  width: 100vw;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  display: flex;
}
.main{
  flex: none;
  width: 100vw;
  height: 96vh;
  scroll-snap-align: start;
}
.containers{
  display: flex;
  height:100vh;
  width: 100%;
  justify-content: center;
}
.ring{
  position:relative;
  height: 100vh;
  width: 100vh;
}
.ring>*{
	position:absolute;
} 

.slider {
  font-family: sans-serif;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;

}


section {
  padding: 1rem;
  min-width: 100vw;
  height: 96vh;
  scroll-snap-align: start;
scroll-direction: horizontal;
  position: relative; 
}
.btn1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 90vh;
}
h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
}
.bg1{
  background: #ccc;
}
.landing{
  height: 100vh;
}
